@import "./General.css";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
     :root{
          font-size: 12px;
     }
     .contact-bar .contact-info div p{
          display: none;
     }
     .inner-container{
          width: 100%;
          justify-content: space-evenly;
     }
     .vendor-page-header h1{
          font-size: 1.8rem;
     }
     .product-square-container{
          min-width: 45%;
          width: 46%;
          max-width: 46%;
          margin: 0 1.5% 20px;
     }
     .desktop-header{
          padding: 5px 2%;
     }
     .home-boosted-ads{
          width: 95%;
          padding: 0;
     }
     .home-best-sellers{
          width: 95%;
     }
     .best-sellers-body{
          width: 95%;
     }
     .home .hello-section{
          justify-content: center;
          padding: 20px 1% 10px 2%;
     }
     .home .hello-section .col{
          border-radius: 10px;
          width: 100%;
          padding:5px 10px 10px;
     }
     .home .hello-section .col h1{
          font-size: 2rem;
     }

     .inner-container .section-title {
          font-size: 1.8rem;
          margin: 2px 0;
     }
     .search-page .search-page-searchbar{
          width: 95%;
          margin: 10px auto;
     }

     .payment-plan-card{
          width: 80%;
     }
     .page-main .page-content{
          width: 99%;
          margin: 0 auto;
          padding: 0;
     }

     .payment-plan-choice, .payment-plan-choice .content .membership .durations .membership-duration-row {
          width: 95%;
     }

     .payment-plan-choice .content .membership .durations .membership-duration-row span{
          font-size: 0.9rem;
     }
     .header-profile{
          width: 60%;
     }

     .desktop-header > a {
          width: 30%;
     }

     .header-logo-image{
          min-width: 100px;
     }
     .actionBtn {
          border-radius: 5px;
     }
     /* .home-get-started-sec .row-title h3{
          font-size: 1.2rem;
     } */

     .search-bar-main {
          position: relative;
     }

      .search-bar-main:hover
     .search-bar-main, .search-bar-main .search-inputs input, .search-bar-main i{
          border-radius: 40px;
     }

     .search-bar-main i {
          position: absolute;
          right: 2%;
          transform: scale(0.8);
     }

     .search-bar-main .search-inputs{
          width:100%;

     }

     .search-bar-main:hover i{
          top: 10%;
          right: 5%;
     }
     .web-usage-container .visits{
          width: 40%;
          margin: 5px auto;
     }

     .home-dash-card {
          width: 40%;
     }

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {
     :root{
          font-size: 14px;
     }
     .contact-bar .contact-info div p{
          display: none;
     }
     .inner-container{
          width: 100%;
          justify-content: space-evenly;
     }
     .vendor-page-header h1{
          font-size: 1.8rem;
     }
     .product-square-container{
          min-width: 85%;
          width: 90%;
          max-width: 90%;
          margin: 0 0.5% 20px;
     }
     .desktop-header{
          padding: 5px 2%;
     }
     .home-boosted-ads{
          width: 95%;
          padding: 0;
     }
     .home-best-sellers{
          width: 95%;
     }
     .best-sellers-body{
          width: 95%;
     }
     .home .hello-section{
          justify-content: center;
          padding: 20px 1% 10px 2%;
     }
     .home .hello-section .col{
          border-radius: 10px;
          width: 95%;
          padding:10px 10px 20px;
     }
     .home .hello-section .col h1{
          font-size: 1.6rem;
     }

     .inner-container .section-title {
          font-size: 1.4rem;
          margin: 2px 0;
     }
     .search-page .search-page-searchbar{
          width: 95%;
          margin: 10px auto;
     }

     .payment-plan-card{
          width: 80%;
     }
     .page-main .page-content{
          width: 99%;
          margin: 0 auto;
          padding: 0;
     }
     /* .home-get-started-sec .row-title h3{
          font-size: 1.2rem;
     } */

     .search-bar-main .search-inputs select, .search-bar-main .search-inputs{
          width: 90%;
     }
}