@import "./General.css";

@media only screen and (max-width: 992px){
     :root{
          font-size: 18px;
     }
     .desktop-header{
          width: 100%;
          padding: 5px 5%;
     }
     .best-sellers-body{
          width: 95%;
     }
     .best-seller-square{
          width: 30%;
     }
     .home-boosted-ads{
          width: 95%;
          padding: 0 1%;
     }
     .home-get-started-sec{
          width: 90%;
     }
     .payment-plan-card{
          width: 30%;
     }

     .home .hello-section .sec-1 {
          width: 100%;
          justify-content: center;
     }

     .home .hello-section .col h1{
          font-size:2.6rem;
     }

     .home .hello-section .sec-banner {
          
          display: none;
     }

     .horizontal-banner .hr-banner{
          width: 100%;
     }

     .vendor-page-info {
          width: 90%;
     }

     .advert-page {
          width: 100%;
     }
     .advert-page-mainAdvert{
          justify-content: center;
          margin: 0;
     }
     .advert-page-mainAdvert .col{
          width: 100%;
     }

     .dashboard-main-container{
          width: 95%;
          justify-content: center;
          padding: 5px;
          margin:  0 auto;
          position: relative;
     }
     
     .dashboard-navbar{
          display: flex;
          width: 10%;
          /* max-width: 300px; */
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin:0;
          padding: 2vh 5px;
          background-color: var(--white-text);
          color: var(--white-text);
          transition: all 0.3s;
          border: 1.1px solid var(--text-color-title);
     }
     .dashboard-content{
          width:85%;
     }

     .dashboard-link{
          width: 90%;
          aspect-ratio: 1/1;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
     }

     .dashboard-link a{
          color: var(--back-gold-color-v1);
          text-align: center;
     }

     .dashboard-link a i {
          margin: 0;
          font-size: 1.5rem;
     }

     .dashboard-link span {
          display: none;
     }

     .dash-advert-row{
          width: 100%;
     }

     .agent-ref-shop-card{
          width: 48%;
     }

     .agent-ref-web-visit-card{
          width: 95%;
     }

     .agent-welcome-container{
          width: 47%;
     }

     .agent-welcome-container p {
          display: none;
     }

     .agent-welcome-container h2 {
          font-size: 1.8rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

     }
     .agent-total-earnings-container{
          width: 47%;
     }

     .agent-content-card{
          width: 100%;
     }

     .agent-navbar a{
          display: flex;
          flex-direction: column;
     }

     .agent-navbar a i {
          position: relative;
          z-index: 1;
     }

     .agent-navbar a span {
          display: none;
     }
     .agent-navbar a.active span{
          display: block;
          position: absolute;
          z-index: 0;
          /* top: 50%;
          left: 50%;
          transform: translateX(-50%);
          transform: translateY(-50%); */
          align-self: center;
          justify-self: flex-end;
          color: rgb(67, 123, 123);
          bottom: 0;
          font-size: 0.8rem;
     }

     .admin-web-visit-card b {
          font-size: 1.8rem;
     }

     .dash-card-info span{
          font-size: 1.8rem;
     }

     .admin-web-visit-card {
          width: 30%;
     }

     .dash-card-info {
          width: 30%;
     }
     .dash-main-row{
          overflow: hidden;
          overflow-x: auto;
     }
     .admin-agent-update-form-container .group.links{
          width: 100%;
     }

     .home-dash-card{
          width: 27%;
     }

     .payment-plan-page .plan-benefits-container .benefits-container,
     .payment-plan-page .plan-benefits-container .plan-location-image-container{
          width: 100%;
     }

     #plan-invoice, .pay-plan-invoice-container .confirm-payment-container{
          width: 70%;
     }
     .contact-seller-view .contact-seller-container{
          width: 50%;
     }
     .user-type-container{
          width: 45%;
     }
     .job-seeker-page-container .row{
          gap: 10px;
     }
     .job-seeker-page-container .row .col{
          width: 100%;
     }
     .home-locations-section .locations-content span{
          width: 27%;
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
     :root{
          font-size: 16px;
     }
     .contact-bar .contact-info div p{
          display: none;
     }
     .home .hello-section{
          justify-content: center;
          padding: 20px 2.5% 10px 2.5%;
     }
     .home .hello-section .col{
          border-radius: 10px;
          width: 100%;
     }
     .home .hello-section img{
          display: none;
     }

     .home-request-quote-header{
          width: 95%;
          margin: 10px 0px 0;
     }
     .desktop-header h1{
          font-size: 1.1rem;
     }

     .header-logo-image{
          min-width: 120px;
     }
     .home .hello-section .col h1{
          font-size: 2.5rem;
     }
     .inner-container{
          min-width: 95%;
     }
     .view-more-container {
          padding: 0 10px;
     }

     .view-more-container b{
          font-size: 20px;
     }
     .categories-header{
          overflow-y: scroll;
     }

     .product-share-icon{
          width: 30px;
          height: 30px;
          font-size: 20px;
     }
     .share-buttons{
          width: 80%;
     }
     .share-buttons button{
          width: auto;
          height: auto;
     }

     .share-buttons button i{
          font-size: 25px;
     }

     .image-slider img{
          max-height: 50vw;
     }
     .vendor-page-header h1{
          font-size: 2rem;
     }
     .best-sellers-body, .quotation-page-header, .quotation-page-body{
          width: 90%;
     }
     .best-seller-square{
          width: 46%;
     }
     .home-boosted-ads{
          width: 95%;
     }
     .home-get-started-sec, .get-started-sec, .home-ad-websites{
          width: 95%;
     }

     .home-get-started-sec .benefits, .get-started-sec .benefits{
          width: 95%;
     }
     .search-page .search-page-searchbar{
          width: 80%;
          background-color: transparent;
          box-shadow: none;
     }
     .quotation-page-body form .group{
          width: 95%;
     }

     .quotation-page-body form .group .input{
          width: 95%;
     }

     .search-page-image{
          max-height: 150px;
          margin: 5px;
     }
     .home-best-sellers .nav-icon{
          bottom: 12.5%;
     }
     .home-best-sellers .icon-left{
          left: 0px;
     }

     .payment-plans-page-body, .payment-plans-page-header{
          width: 95%;
          margin: 10px auto;
     }

     .payment-plan-card{
          width: 45%;
     }
     .product-square-container{
          min-width: 35%;
          width: 40%;
          max-width: 40%;
     }

     .payment-plan-choice, .payment-plan-choice .content .membership .durations .membership-duration-row{
          width: 80%;
     }
     .payment-plan-choice .content .features, .payment-plan-choice .content .membership{
          width: 100%;
     }

     .payment-plan-choice .content .features ul li, .payment-plan-choice .content .membership .durations .membership-duration-row span{
          font-size: 1.2rem;
     }

     .search-bar-main .search-inputs input{
          width: 95%;
          margin: 5px;
     }

     .search-bar-main:hover{
          padding: 5px;
          border-radius: 5px;
          border: none;
     }

     .search-bar-main:hover .search-inputs select{
          display: inline-flex;

     }
     .search-bar-main .search-inputs select{
          width: 45%;
          display: none;
     }
     .search-page .search-page-searchbar{
          margin: 10px auto;
          width: 95%;
          padding: 0 10px;
     }   
     
     .loading-ad {
          width: 47%;
     }

     .actionBtn {
          border-radius: 10px;
          padding: 5px 10px;
     }

     .horizontal-banner{
          width: 95%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content:flex-start;
          overflow-x: scroll;
          /* flex-wrap: wrap; */
     }

     .horizontal-banner .hr-banner{
          min-width: 97%;
          /* height: 100px; */
          margin-right: 10px;
     }

     .category-square{
          min-width: 18%;
          width: 22%;
          margin: 0 2px 10px;
     }
     .web-usage-container{
          width: 90%;
     }
     .web-usage-container h2{
          font-size: 1.4rem;
          width: 90%;
          margin: 10px auto;
     }
     .web-usage-container .visits{
          width: auto;
          margin: 5px auto;
     }

     .dash-advert-row{
          width: 90%;
     }

     .admin-layout{
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          padding-block: 5px;
     }

     .admin-navbar {
          width: 100%;
          height: 10vh;
          flex-direction: row;
          align-items: center;
          overflow-y: hidden;
          position: relative;
          z-index: 10;
     }


     .admin-main-content {
          width: 100%;
          height: 85vh;
     }

     .admin-navbar .dash-logo-container{
          width: 25%;
     }

     .admin-navbar .dash-logo-container a img{
          width: 80%;
          padding: 5px;
          background-color: var(--text-color-title);
          border-radius: 20px;
          cursor: pointer;
     }

     .admin-navbar .dash-nav-container{
          width: 75%;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          overflow-y: hidden;
          overflow-x: auto;
     }

     .admin-navbar .dash-nav-container a {
          font-size: 2rem;
          text-align: center;
          justify-content: center;
          border-radius: 5px;
     }

     .admin-navbar .dash-nav-container a span{
          display: none;
     }

     .notifier-container {
          width: 90%;
     }

     .dash-card-info {
          width: 30%;
     }


     .dash-main-row{
          overflow: hidden;
          overflow-x: auto;
     }

     .admin-add-agent-form{
          width: 100%;
     }

     .dash-shop-card{
          width: 48%;
     }
     .admin-advert-update-form .group{
          width: 70%;
     }

     .agent-home-content-card{
          width: 45%;
     }

     .admin-web-visit-card {
          width: 40%;
          margin-bottom: 10px;
     }
     .admin-agent-update-form-container .group,
     .admin-shop-view-form .group{
          width: 100%;
     }
     .advert-form-container form .group{
          width: 100%;
     }

     .advert-form-container form .group label{
          font-size: 1.1rem;
     }

     .advert-form-container form .group input, 
     .advert-form-container form .group select,
     .advert-form-container form .group textarea{
          width: 100%;
          padding-block: 10px ;
     }

     .user-dash-view-form form .row .dash-col{
          width: 100% ;
     }
     .home-dash-card{
          width: 30%;
     }

     .contact-form-container{
          width: 100%;
     }

     
     .plan-duration-card{
          width: 90%;
     }

     #plan-invoice, .pay-plan-invoice-container .confirm-payment-container{
          width: 90%;
     }

     .user-dash-content-container {
          width: 95%;
     }

     .agent-task-container .row p{
          width: 100%;
     }

     .agent-task-container .row b {
          width: 60;
     }
     .contact-seller-view .contact-seller-container{
          width: 70%;
     }

     .user-type-container{
          width: 100%;
          padding: 10px 5px;
          border-radius: 10px;
     }

     .job-seeker-page-container .row{
          gap: 10px;
     }
     .job-seeker-page-container .row .col{
          width: 95%;
     }
     .home-locations-section .locations-content {
          width: 100%;
     }

     .home-categories-subcard{
          width: 30%;
     }
}


