@import "./General.css";

@media only screen and (max-width: 820px){
     .desktop-header{
          width: 100%;
          padding: 5px 5%;
     }
     .best-sellers-body{
          width: 95%;
     }
     .best-seller-square{
          width: 30%;
     }
     .home-boosted-ads{
          width: 90%;
     }
     .home-get-started-sec{
          width: 90%;
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
     :root{
          font-size: 16px;
     }
     .contact-bar .contact-info div p{
          display: none;
     }
     .home .hello-section{
          justify-content: center;
          padding: 20px 2.5% 10px 2.5%;
     }
     .home .hello-section .col{
          border-radius: 10px;
          width: 90%;
     }
     .home .hello-section img{
          display: none;
     }

     .home-request-quote-header{
          width: 95%;
          margin: 10px 0px 0;
     }
     .desktop-header h1{
          font-size: 1.1rem;
     }
     .home .hello-section .col h1{
          font-size: 2.5rem;
     }
     .dashboard-main-container{
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     .dashboard-navbar{
          position: relative;
          width: 95%;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          margin: 5px auto;
          top: 0;
          padding: 0 10px;
     }
     .inner-container{
          min-width: 95%;
     }
     .view-more-container {
          padding: 0 10px;
     }

     .view-more-container b{
          font-size: 20px;
     }
     .categories-header{
          overflow-y: scroll;
     }

     .product-share-icon{
          width: 30px;
          height: 30px;
          font-size: 20px;
     }
     .share-buttons button{
          width: 30px;
          height: 30px;
     }

     .share-buttons button i{
          font-size: 25px;
     }

     .image-slider img{
          max-height: 50vw;
     }
     .vendor-page-header h1{
          font-size: 2rem;
     }
     .best-sellers-body, .quotation-page-header, .quotation-page-body{
          width: 90%;
     }
     .best-seller-square{
          width: 46%;
     }
     .home-boosted-ads{
          width: 95%;
     }
     .home-get-started-sec, .get-started-sec, .home-ad-websites{
          width: 95%;
     }

     .home-get-started-sec .benefits, .get-started-sec .benefits{
          width: 95%;
     }
     .search-page .search-page-searchbar{
          width: 80%;
          background-color: transparent;
          box-shadow: none;
     }
     .quotation-page-body form .group{
          width: 95%;
     }

     .quotation-page-body form .group .input{
          width: 95%;
     }

     .search-page-image{
          max-height: 150px;
          margin: 5px;
     }
     .home-best-sellers .nav-icon{
          bottom: 12.5%;
     }
     .home-best-sellers .icon-left{
          left: 0px;
     }
}