@import "./General.css";

@media only screen and (max-width: 992px){
     :root{
          font-size: 18px;
     }
     .desktop-header{
          width: 100%;
          padding: 5px 5%;
     }
     .best-sellers-body{
          width: 95%;
     }
     .best-seller-square{
          width: 30%;
     }
     .home-boosted-ads{
          width: 95%;
          padding: 0 1%;
     }
     .home-get-started-sec{
          width: 90%;
     }
     .payment-plan-card{
          width: 30%;
     }

     .home .hello-section .sec-1 {
          width: 100%;
          justify-content: center;
     }

     .home .hello-section .col h1{
          font-size:2.6rem;
     }

     .home .hello-section .sec-banner {
          
          display: none;
     }

     .horizontal-banner .hr-banner{
          width: 100%;
     }

     .vendor-page-info {
          width: 90%;
     }

     .advert-page {
          width: 100%;
     }
     .advert-page-mainAdvert{
          justify-content: center;
          margin: 0;
     }
     .advert-page-mainAdvert .col{
          width: 100%;
     }

     .dashboard-main-container{
          width: 95%;
          justify-content: center;
          padding: 5px;
          margin:  0 auto;
          position: relative;
     }
     
     .dashboard-navbar{
          position: fixed;
          display: flex;
          width: 50%;
          /* max-width: 300px; */
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin:0;
          padding: 10vh 5px;
          background-color: #3c3636dd;
          top: 0;
          left: -50%;
          height: 100vh;
          z-index: 100;
          color: var(--white-text);
          transition: all 0.3s;
     }
     .dashboard-content{
          width: 100%;
     }

     .dashboard-link{
          width: 90%;
          border-radius: 5px;
          background-color: var(--text-color-title);
          padding: 10px 5px;
     }

     .dashboard-link a{
          color: var(--white-text);
     }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
     :root{
          font-size: 16px;
     }
     .contact-bar .contact-info div p{
          display: none;
     }
     .home .hello-section{
          justify-content: center;
          padding: 20px 2.5% 10px 2.5%;
     }
     .home .hello-section .col{
          border-radius: 10px;
          width: 100%;
     }
     .home .hello-section img{
          display: none;
     }

     .home-request-quote-header{
          width: 95%;
          margin: 10px 0px 0;
     }
     .desktop-header h1{
          font-size: 1.1rem;
     }
     .home .hello-section .col h1{
          font-size: 2.5rem;
     }
     .inner-container{
          min-width: 95%;
     }
     .view-more-container {
          padding: 0 10px;
     }

     .view-more-container b{
          font-size: 20px;
     }
     .categories-header{
          overflow-y: scroll;
     }

     .product-share-icon{
          width: 30px;
          height: 30px;
          font-size: 20px;
     }
     .share-buttons button{
          width: 30px;
          height: 30px;
     }

     .share-buttons button i{
          font-size: 25px;
     }

     .image-slider img{
          max-height: 50vw;
     }
     .vendor-page-header h1{
          font-size: 2rem;
     }
     .best-sellers-body, .quotation-page-header, .quotation-page-body{
          width: 90%;
     }
     .best-seller-square{
          width: 46%;
     }
     .home-boosted-ads{
          width: 95%;
     }
     .home-get-started-sec, .get-started-sec, .home-ad-websites{
          width: 95%;
     }

     .home-get-started-sec .benefits, .get-started-sec .benefits{
          width: 95%;
     }
     .search-page .search-page-searchbar{
          width: 80%;
          background-color: transparent;
          box-shadow: none;
     }
     .quotation-page-body form .group{
          width: 95%;
     }

     .quotation-page-body form .group .input{
          width: 95%;
     }

     .search-page-image{
          max-height: 150px;
          margin: 5px;
     }
     .home-best-sellers .nav-icon{
          bottom: 12.5%;
     }
     .home-best-sellers .icon-left{
          left: 0px;
     }

     .payment-plans-page-body, .payment-plans-page-header{
          width: 95%;
          margin: 10px auto;
     }

     .payment-plan-card{
          width: 45%;
     }
     .product-square-container{
          min-width: 35%;
          width: 40%;
          max-width: 40%;
     }

     .payment-plan-choice, .payment-plan-choice .content .membership .durations .membership-duration-row{
          width: 80%;
     }
     .payment-plan-choice .content .features, .payment-plan-choice .content .membership{
          width: 100%;
     }

     .payment-plan-choice .content .features ul li, .payment-plan-choice .content .membership .durations .membership-duration-row span{
          font-size: 1.2rem;
     }

     .search-bar-main .search-inputs input{
          width: 95%;
          margin: 5px;
     }

     .search-bar-main:hover{
          padding: 5px;
          border-radius: 5px;
          border: none;
     }

     .search-bar-main:hover .search-inputs select{
          display: inline-flex;

     }
     .search-bar-main .search-inputs select{
          width: 45%;
          display: none;
     }
     .search-page .search-page-searchbar{
          margin: 10px auto;
          width: 95%;
          padding: 0 10px;
     }   
     
     .loading-ad {
          width: 47%;
     }

     .actionBtn {
          border-radius: 10px;
          padding: 5px 10px;
     }

     .horizontal-banner{
          width: 95%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content:flex-start;
          overflow-x: scroll;
          /* flex-wrap: wrap; */
     }

     .horizontal-banner .hr-banner{
          min-width: 97%;
          /* height: 100px; */
          margin-right: 10px;
     }

     .category-square{
          min-width: 18%;
          width: 22%;
          margin: 0 2px 10px;
     }
     .web-usage-container{
          width: 90%;
     }
     .web-usage-container h2{
          font-size: 1.4rem;
          width: 90%;
          margin: 10px auto;
     }
     .web-usage-container .visits{
          width: auto;
          margin: 5px auto;
     }

     .web-usage-container .visits h3{
          font-size: 0.9rem;
     }
}